html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  background: white;
  font-family: 'Special Elite', arial, serif;
}
h1 {
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
h1:hover {
  text-shadow: 1em  1em #99E0FF, 
       2em  2em #A4FFBF, 
       3em  3em #FFDC94, 
       4em  4em #CCD3FF, 
       5em  5em #99E0FF, 
       6em  6em #A4FFBF, 
       7em  7em #FFDC94, 
       8em  8em #CCD3FF, 
       9em  9em #99E0FF, 
      10em 10em #A4FFBF, 
      11em 11em #FFDC94,
      12em 12em #CCD3FF;
}
#equipmentapp {
  color: black;
  background: white;
  width: 60em;
  margin: 0 auto 4em;
  padding: 2em;
  position: relative;
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
}
#equipmentapp .fields {
  width: 40em;
}
#equipmentapp .fields input, #equipmentapp .fields textarea {
  border: 1px solid #999999;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  width: 400px;
  padding: 6px;
  outline: none;
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2), inset 0 0 0.2em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.12s ease-in;
  transition: all 0.12s ease-in;
}
#equipmentapp .fields input::-webkit-input-placeholder, #equipmentapp .fields textarea::-webkit-input-placeholder {
  font-style: italic;
}
#equipmentapp .fields input:nth-child(3n+1), #equipmentapp .fields textarea:nth-child(3n+1) {
  -webkit-transform: rotate(-1.6deg);
  transform: rotate(-1.6deg);
}
#equipmentapp .fields input:nth-child(3n+2), #equipmentapp .fields textarea:nth-child(3n+2) {
  -webkit-transform: rotate(0.8deg);
  transform: rotate(0.8deg);
}
#equipmentapp .fields input:nth-child(3n+3), #equipmentapp .fields textarea:nth-child(3n+3) {
  -webkit-transform: rotate(-0.9deg);
  transform: rotate(-0.9deg);
}
#equipmentapp .fields input:nth-child(4n+1), #equipmentapp .fields textarea:nth-child(4n+1) {
  background-color: #99E0FF;
}
#equipmentapp .fields input:nth-child(4n+2), #equipmentapp .fields textarea:nth-child(4n+2) {
  background-color: #A4FFBF;
}
#equipmentapp .fields input:nth-child(4n+3), #equipmentapp .fields textarea:nth-child(4n+3) {
  background-color: #FFDC94;
}
#equipmentapp .fields input:nth-child(4n+4), #equipmentapp .fields textarea:nth-child(4n+4) {
  background-color: #CCD3FF;
}
#equipmentapp .fields input:nth-child(5n+1), #equipmentapp .fields textarea:nth-child(5n+1) {
  -webkit-border-radius: 1em 4em 1em 4em;
  border-radius: 1em 4em 1em 4em;
}
#equipmentapp .fields input:nth-child(5n+2), #equipmentapp .fields textarea:nth-child(5n+2) {
  -webkit-border-radius: 2em 3em 3em 1em;
  border-radius: 2em 3em 3em 1em;
}
#equipmentapp .fields input:nth-child(5n+3), #equipmentapp .fields textarea:nth-child(5n+3) {
  -webkit-border-radius: 2em 4em 1em 3em;
  border-radius: 2em 4em 1em 3em;
}
#equipmentapp .fields input:nth-child(5n+4), #equipmentapp .fields textarea:nth-child(5n+4) {
  -webkit-border-radius: 2em 1em 3em 4em;
  border-radius: 2em 1em 3em 4em;
}
#equipmentapp .fields input:nth-child(5n+5), #equipmentapp .fields textarea:nth-child(5n+5) {
  -webkit-border-radius: 1em 2em 4em 1em;
  border-radius: 1em 2em 4em 1em;
}
#equipmentapp .fields input:focus, #equipmentapp .fields textarea:focus {
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  background-color: #FFF;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#create-equipment {
  width: 420px;
  margin: 0 auto 40px;
  position: absolute;
  top: -540px;
  height: 580px;
  display: inline-block;
  left: 290px;
  z-index: 100;
  -webkit-transition: top 0.12s ease-in;
  -moz-transition: top 0.5s ease-in;
  -o-transition: top 0.5s ease-in;
  transition: top 0.5s ease-in;
}
#create-equipment:hover {
  top: 10px;
}
#create-equipment span {
  left: 50%;
  margin-left: -85px;
  position: absolute;
  width: 170px;
  z-index: 999;
}
#equipments {
  padding: 2em;
}
#equipments label:nth-child(odd) {
  color: blue;
  font-size: small;
}
#equipments label:nth-child(even) {
  color: red;
  display: block;
  padding-left: 2em;
}
#equipment-list {
  margin-top: 10px;
}
#equipment-list li {
  border-bottom: 1px solid #cccccc;
  font-size: 24px;
  line-height: 1.1em;
  padding: 12px 20px 11px 0;
  position: relative;
  display: inline-block;
  width: 400px;
  -webkit-transition: all 0.12s ease-in;
  transition: all 0.12s ease-in;
}
#equipment-list li:nth-child(even) {
  float: right;
}
#equipment-list li:after {
  clear: both;
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#equipment-list li:nth-child(3n+1) {
  -webkit-transform: rotate(-1.6deg);
  transform: rotate(-1.6deg);
}
#equipment-list li:nth-child(3n+2) {
  -webkit-transform: rotate(0.8deg);
  transform: rotate(0.8deg);
}
#equipment-list li:nth-child(3n+3) {
  -webkit-transform: rotate(-0.9deg);
  transform: rotate(-0.9deg);
}
#equipment-list li:hover {
  -webkit-transform: rotate(0deg) scale(1.1);
  transform: rotate(0deg) scale(1.1);
  background-color: yellow;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
}
#equipment-list li .check {
  float: left;
  margin: 0 10px 0 7px;
  position: relative;
  top: 9px;
}
#equipment-list li .done .equipment-content {
  text-decoration: line-through;
  color: #777777;
}
#equipment-list li .equipment-destroy {
  background: url(/images/destroy.png) no-repeat 0 0;
  cursor: pointer;
  display: none;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 14px;
  width: 20px;
}
#equipment-list li:hover .equipment-destroy {
  display: block;
}
#equipment-list li:hover .equipment-destroy:hover {
  background-position: 0 -20px;
}
#equipment-list .display {
  text-shadow: 2px 2px 2px #30A660;
}
#equipment-list .editing {
  border-bottom: 0;
  padding: 0;
}
#equipment-list .editing .display {
  display: none;
}
#equipment-list .edit {
  display: none;
}
#equipment-list .editing .edit {
  display: block;
}
.checkout {
  cursor: pointer;
  left: 150px;
  position: absolute;
  top: 40px;
}
#equipmentapp:before, #equipmentapp:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-rotatetransform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg deg);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  box-shadow: rgba(0, 0, 0, 0.3) 1em 2em 2em 1em;
  z-index: -1;
}
#equipmentapp:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotatete(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(transform 5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}
